.hogwart {
	background: url('../images/HogwartsHouses.png');
}
.hogwart.class-sd1 {
	width: 194px;
	height: 248px;
	background-position: -9px -2px;
}	
.hogwart.class-sd2 {
	width: 194px;
	height: 248px;
	background-position: -195px -2px;
}	
.hogwart.class-sd3 {
	width: 194px;
	height: 248px;
	background-position: -9px -239px;
}	
.hogwart.class-sd4 {
	width: 194px;
	height: 248px;
	background-position: -197px -2px;
}

